.img{
    position:relative;
    margin-top:12px
}

.child{
    position:absolute;
    width:500px;
    height:400px;
    padding:40px;
    padding-left:80px;
    top:120px;
    right:0px;  
   margin-left:50px
}
.heading{
    font-size:60px;
    width:60%;
    color:#00A9E0;
    margin-left:60px
}

.heading1{
    color:#707070;
    
}