.img{
    position:relative;
    margin-top:12px
}

.child{
    position:absolute;
     top:15%;
     right:8%
 
}
.heading{
    font-size:40px;
    width:100%;
    color:#00A9E0;
   
}
.heading1{
    color:#00A9E0; 
   height:85px
}
.heading2{
    width:60%;
    color:#707070;
   
    
}